/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END RESET */

body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    padding: 10px;
    margin: 10px;
}

em {
    font-style: italic;
}

#container {
    max-width: 960px;
    margin: 5px auto;
}

#nav {
    background: #eee;
    margin: 5px 0;
    border: 1px solid #ccc;
}

#nav li {
    display: inline-block;
    padding: 0 6px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 4px 0;
}

#nav li:first-child {
    border-left: 0;
}

#nav li:last-child {
    border-right: 0;
}

#nav a {
    text-decoration: none;
    color: #008;
}

#content {
}

#content p {
    margin: 5px 0;
    padding: 10px;
    line-height: 120%;
}


#footer {
    line-height: 15px;
    text-align: center;
    margin: 10px;
}

/* Fork page */
.fork-content {
    font-family: monospace;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: auto;
}

.fork-choices {
    text-align: center;
}

.fork-choices li {
    display: inline-block;
    border: 1px solid #ccc;
    background: #eee;
    padding: 3px;
    width: 465px;
    vertical-align: top;
}

.fork-choices li a {
    text-decoration: none;
    font-style: italic;
}

#editlink {
    text-align: center;
    font-size: 80%;
}

/* Create page */
fieldset#create-fork-form {
    padding: 10px;
}

#create-fork-form label {
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

#create-fork-form textarea {
    font-family: monospace;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    display: block;
    width: 920px;
    height: 300px;
    overflow: auto;
}

#fork-left-choice,
#fork-right-choice {
    width: 400px;
}

/* honeypot */
#fork-pot-label,
#fork-pot {
    display: none;
    visibility: hidden;
}

#create-fork-form input[type="submit"] {
    float: right;
}
